.note {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 5px;
    border: 1px solid rgba(85, 85, 85, 0.26);
    border-radius: 5px;
    margin-bottom: 10px;
    &:hover {
        background-color: rgb(199, 199, 199);
    }
    &:active {
        background-color: rgb(163, 163, 163);
    }
}
.title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.description {
    min-height: fit-content;
    padding-bottom: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 1; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
}
