.noteInfo{
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px ;
}

.info{
    flex: 1 0 auto;
}

.warning{
    font-weight: 800;
    font-size: 20px ;
}
.title{
    font-weight: 800;
    font-size: 20px 
}
.description{
    margin-top: 5px;
    font-size: 16px;
}
.buttons{
    position: relative;
    border: 1px solid rgba(85, 85, 85, 0.26);
    display: flex;
    max-width: fit-content;
    column-gap: 3px;
}